.app-item-container {
  padding: 16px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  margin: 5px;
  background-color: #fff;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .app-item-container {
    padding: 26px 22px 0;
    width: 230px;
    margin: 10px;
    border-radius: 14px;
  }
}

.app-item-img {
  width: 65px;
}
@media (min-width: 768px) {
  .app-item-img {
    width: 120px;
  }
}
.app-item-description {
  font-family: 'Bree Serif';
  text-align: center;
}
@media (min-width: 768px) {
  .app-item-description {
    font-size: 26px;
  }
}
